
<!DOCTYPE html>
<html class="full" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thrillist Analytics Request</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Page CSS -->
    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
	  <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->

    <!-- Modernizr -->
    <script src="/js/modernizr.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <header>
    <div class="row">
      <div class="col-xs-12">
        <h1>For Shame</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <small>Blessed be those whom complete their timesheets. Shame to all who don't.</small>
      </div>
    </div>
	</header>
  <div id="loading-icon">
    <div class="row">
      <div class="col-xs-12 text-center">
        <span><i class="fa fa-refresh fa-spin fa-5x"></i></span>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="arc arc_start"></div>
      <div class="arc arc_end"></div>
  </div>
	<ul id="cd-gallery-items" class="cd-container">
    <!-- Load deliquents here -->
	</ul> <!-- cd-gallery-items -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Knob Charts -->
    <script src="/js/knob.min.js"></script>

    <!-- Timesheet Javascript -->
    <script src="/js/timesheets.js"></script>

</body>

</html>
