
<!DOCTYPE html>
<html class="full" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thrillist Analytics Request</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- JQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- JQuery Data Tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .header-space {
            padding-top: 50px;
        }
        .modal-dialog {
            width: 90%;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="mailto:msolomon@thrillist.com?subject=Analytics Request Page">Something broken?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container header-space">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Thrillist Analytics Requests</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto, unde, sunt incidunt id sapiente rerum soluta voluptate harum veniam fuga odit ea pariatur vel eaque sint sequi tenetur eligendi.</p>
                <button id="launch-modal" type="button" class="btn btn-success"><i class="fa fa-edit"></i> Create Request</button>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <h3>Open Requests</h3>
                <div class="table-responsive">
                    <table class="table table-hover" id="ticket-table">
                        <thead>
                            <tr>
                                <th>Request Title</th>
                                <th>Requested Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @tickets.each_with_index do |ticket, index| %>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target="#<%= index %>-modal"><%= ticket['fields']['summary'] %></a></td>
                                    <td><%= ticket['formatted_request_time'] %></td>
                                    <td><%= ticket['fields']['duedate'] %></td>
                                    <td>
                                        <% if ticket['fields']['status']['name'] == 'To Do' %>
                                            <button class="btn btn-xs btn-primary">
                                        <% elsif ticket['fields']['status']['name'] == 'In Progress' %>
                                            <button class="btn btn-xs btn-warning">
                                        <% elsif ticket['fields']['status']['name'] == 'Done' %>
                                            <button class="btn btn-xs btn-success">
                                        <% end %>
                                            <%= ticket['fields']['status']['name'] %>
                                            </button>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </button>
        </div><!-- /.row -->
        <!-- Modals -->
        <% @tickets.each_with_index do |ticket, index| %>
            <!-- Modal -->
            <div class="modal fade" id="<%= index %>-modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= ticket['fields']['summary'] %></h4>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="ticket-table">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>What data/reports are you requesting?</td>
                                    <td><%= ticket['fields']['customfield_11222'] %></td>
                                </tr>
                                <tr>
                                    <td>What questions are you trying to answer with the requested data?</td>
                                    <td><%= ticket['fields']['customfield_11223'] %></td>
                                </tr>
                                <tr>
                                    <td>How do you envision this data being displayed?</td>
                                    <td><%= ticket['fields']['customfield_11224'] %></td>
                                </tr>
                                <tr>
                                    <td>Is this a recurring or ad-hoc request?</td>
                                    <td><%= ticket['fields']['customfield_11225'] %></td>
                                </tr>
                                <tr>
                                    <td>Do you need a specific reporting period?</td>
                                    <td><%= ticket['fields']['customfield_11226'] %></td>
                                </tr>
                                <tr>
                                    <td>Which platform(s)?</td>
                                    <td>
                                        <ul>
                                            <% ticket['fields']['customfield_11220'].each do |platform| %>
                                                <li><%= platform['value'] %></li>
                                            <% end %>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Which metrics do you think would be useful?</td>
                                    <td>
                                        <ul>
                                            <% ticket['fields']['customfield_11227'].each do |metric| %>
                                                <li><%= metric['value'] %></li>
                                            <% end %>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Other Metrics?</td>
                                    <td><%= ticket['fields']['customfield_11228'] %></td>
                                </tr>
                                <tr>
                                    <td>Do you have specific pages you are interested in?</td>
                                    <td><%= ticket['fields']['customfield_11229'] %></td>
                                </tr>
                                <tr>
                                    <td>Are there any other requirements you feel are important that are not mentioned above?</td>
                                    <td><%= ticket['fields']['customfield_11230'] %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- JIRA javascript -->
    <script type="text/javascript" src="https://thrillistmediagroup.atlassian.net/s/be938e8087aee4c08fb10aaa4d4ff370-T/en_US82dpot/71001/2ebf79aa777097e7333afa48436a7d47/2.0.9/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=50aca0f1">
    </script>
    <script>
        $(document).ready(function() {
            getTickets();
            $('#ticket-table').DataTable();
        });

        function getTickets() {
            $.ajax({
                url: url,
                data: data,
                success: function(data) {
                    
                },
                dataType: dataType
            });
        }

        window.ATL_JQ_PAGE_PROPS = {
            "triggerFunction": function(showCollectorDialog) {
                jQuery("#launch-modal").click(function(e) {
                    e.preventDefault();
                    showCollectorDialog();
                });
            }
        };
    </script>
</body>

</html>